.diet-info {
    text-align: center;
    padding: 30px 20px;
    &__icon {
        width: 100px;
        height: 100px;
    }
    &__name {
        font-size: 2rem;
        color: #43731d;
        font-weight: 500; 
    }
}
.details-diet {
    background-color: #43731d;
    padding: 50px 20px;
}