<div>
  <h1>Komponent stwórz użytkownika</h1>
  <form [formGroup]="createUserForm" (ngSubmit)="authorizeUser(createUserForm)">
      <div class="form-control">
        <label>Imię: </label>
        <input type="text" placeholder="Imię" formControlName="name">
        <span *ngIf="formErrors.name">{{ formErrors.name + 'sads'}}</span>
      </div>

      <div class="form-control">
        <label>Nazwisko:</label>
        <input type="text" placeholder="Nazwisko" formControlName="surname">
        <span *ngIf="formErrors.surname">{{ formErrors.surname }}</span>
      </div>

      <div class="form-control">
        <label>Email:</label>
        <input type="text" placeholder="Email" formControlName="email">
        <span *ngIf="formErrors.email">{{ formErrors.email }}</span>
      </div>

      <div class="form-control">
        <label>Login:</label>
        <input type="text" placeholder="Login" formControlName="login">
        <span *ngIf="formErrors.login">{{ formErrors.login }}</span>
      </div>

      <div formGroupName="passwordGroup">
          <label>Hasło:</label>
          <input type="password" placeholder="Hasło" formControlName="password">
          <span *ngIf="createUserForm.controls.passwordGroup.controls.password?.hasError('passwordStrength')">
            {{createUserForm.controls.passwordGroup.controls.password.errors.passwordStrength}}
          </span>
    
          <label>Powtórz hasło:</label>
          <input type="password" placeholder="Powtórz hasło" formControlName="confirmedPassword">
          <span *ngIf="createUserForm.confirmedPassword">{{ formErrors.confirmedPassword }}</span>
          <span *ngIf="formErrors.passwordGroup">{{ formErrors.passwordGroup }}</span>
      </div>

      <button type="button" (click)="createNewUser()" [disabled]="createUserForm.invalid">Zarejestruj się</button>
  </form>
</div>