<div class="container register-user">
  <form [formGroup]="createUserForm" (ngSubmit)="createNewUser(createUserForm)">
      <h1>Stwórz nowe konto</h1>
      <div class="form-control">
        <input class="form-input" type="text" placeholder="Email" formControlName="email">
        <span *ngIf="formErrors.email">{{ formErrors.email }}</span>
      </div>
      <div formGroupName="passwordGroup">
        <input class="form-input" type="password" placeholder="Hasło" formControlName="password">
        <span *ngIf="createUserForm.controls.passwordGroup.controls.password?.hasError('passwordStrength')">
          {{createUserForm.controls.passwordGroup.controls.password.errors.passwordStrength}}
        </span>
        <input class="form-input" type="password" placeholder="Powtórz hasło" formControlName="confirmedPassword">
        <span *ngIf="createUserForm.confirmedPassword">{{ formErrors.confirmedPassword }}</span>
        <span *ngIf="formErrors.passwordGroup">{{ formErrors.passwordGroup }}</span>
      </div>
      <div>
          <button class="btn btn--yellow" [disabled]="createUserForm.invalid">Zarejestruj</button>
      </div>
  </form>
</div>