<div class="add-meal">
	<h1>Dodaj posilek</h1>
		<input class="standard-input" [(ngModel)]="newMeal.name" type="text" placeholder="Nazwa posiłku"/>
		<input class="standard-input" [(ngModel)]="newMeal.calories" type="text" placeholder="Kcal"/>
		<input class="standard-input" [(ngModel)]="newMeal.protein" type="text" placeholder="białko"/>
		<input class="standard-input" [(ngModel)]="newMeal.carbo" type="text"placeholder="Podaj weglowodany"/>
		<input class="standard-input" [(ngModel)]="newMeal.fat" type="text" placeholder="Podaj tluszcz"/>
		<div *ngIf="!isRegister">
			<input class="standard-input" [(ngModel)]="newMeal.recipe" type="text" placeholder="Podaj przepis"/>
		</div>
		<div *ngIf="!isRegister">
			<input class="standard-input" [(ngModel)]="mealIngredients" type="text" placeholder="Podaj składniki po przecinku"/>
		</div>
  <div *ngIf="!isRegister">
    <label for="file">Wybierz zdjęcie</label>
    <input class="standard-input" type="file" (change)="upload($event)" />
  </div>
  <button class="btn btn--yellow" [disabled]="!isRegister && !imageUploaded" (click)="saveMeal()">Dodaj posiłek</button>
</div>

