<div class="container">
<div class="add-meal">
  <h1>Dodaj posilek</h1>
  <div>
      <span>Nazwa posiłku</span>
      <input [(ngModel)]="newMeal.name" type="text" placeholder="Nazwa posiłku"/>
  </div>
  <div>
      <span>Kcal</span>
      <input [(ngModel)]="newMeal.calories" type="text" placeholder="Kcal"/>
  </div>
  <div>
      <span>białko</span>
      <input [(ngModel)]="newMeal.protein" type="text" placeholder="białko"/>
  </div>
  <div>
      <span>wegglowodany</span>
      <input [(ngModel)]="newMeal.carbo" type="text"placeholder="Podaj weglowodany"/>
  </div>
  <div>
      <span>tluszcz</span>
      <input [(ngModel)]="newMeal.fat" type="text" placeholder="Podaj tluszcz"/>
  </div>
  <div *ngIf="!isRegister">
      <span>przepis</span>
      <input [(ngModel)]="newMeal.recipe" type="text" placeholder="Podaj przepis"/>
  </div>
  <div *ngIf="!isRegister">
    <span>składniki</span>
    <input [(ngModel)]="mealIngredients" type="text" placeholder="Podaj składniki po przecinku"/>
</div>
  <div>
    <label for="file">File:</label>
    <input type="file" (change)="upload($event)" />
  </div>
  <button [disabled]="!imageUploaded" (click)="saveMeal()">Dodaj posiłek</button>
</div>
</div>
