.diet-button {
    display: block;
    border: 0;
    background-color: #43731d;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150px;
    display: block;
    width: 100%;
}

.diet-lists {
    background-color: #dbe9d0;
    padding: 50px 20px;
}