#diets-list-container {
    max-width: 70%;
    margin: 20px auto;
}

#diet-weight-container {
    margin: 10px 0;
}

table {
    width: 100%;
}

tr {
    display: flex;
    justify-content: space-evenly;
}

th {
    background: lightgreen;
}

td, th {
    text-align: center;
    border: solid 2px black;
    flex: 0 0 20%;
    padding: 20px 0;
}