<div >
    <p>Szukaj produktów </p>
    <input #searchProductInput class="input" placeholder="Szukaj produktu"  name="filter"/>
</div>
<div *ngIf="allProducts.length > 0">
    <h1>Lista produktów</h1>
    <table>
        <thead>
            <tr>
                <th>Nazwa produktu</th>
                <th>Wartość energetyczna</th>
                <th>Białko</th>
                <th>Węglowodany</th>
                <th>Tłuszcz</th>
            </tr>
        </thead>
        <tbody>
            <div *ngFor="let product of allProducts">
                <tr>
                    <th>{{product.name}}</th>
                    <th>{{product.kcal}}</th>
                    <th>{{product.protein}}</th>
                    <th>{{product.carbo}}</th>
                    <th>{{product.fat}}</th>
                </tr>
            </div>
        </tbody>
    </table>
</div>
<div *ngIf="allProducts.length === 0">
    <h1>Wprowadź nazwę produktu aby sprawdzić kaloryczność</h1>
</div>