<p>
  Komponent nawigacji
</p>
<div>
  <span>Przyciski z nawigacji (klikniecie prziekierowywuje do innego komponentu)</span><br />
  <div class="button-dropdown" (click)="navigateTo('main')">Strona główna</div>
  <div class="button-dropdown" (click)="navigateTo('ustawienia-konta')">Dane użytkownika</div>
  <div class="button-dropdown" (click)="navigateTo('stworz-diete')">Ułóż swoją diete</div>
  <div class="button-dropdown" (click)="navigateTo('rekomendowane-diety')">Rekomendowane diety</div>
  <div class="button-dropdown" (click)="navigateTo('lista-produktow')">Sprawdż kaloryczność produktów</div>
  <div class="button-dropdown" (click)="navigateTo('posilki')">Zdrowe posiłki</div>
  <div class="button-dropdown" (click)="navigateTo('kalkulator-bmi')">Sprawdż swoje BMI</div>
</div>
