<p>
  Komponent nawigacji
</p>
<div>
  <span>Przyciski z nawigacji (klikniecie prziekierowywuje do innego komponentu)</span><br />
  <a routerLink='main'>Strona główna</a>
  <a routerLink='ustawienia-konta'>Ustawienia użytkownika</a>
  <a routerLink='stworz-diete'>Ułóż swoją diete</a>
  <a routerLink='rekomendowane-diety'>Rekomendowane diety</a>
  <a routerLink='lista-produktow'>Sprawdż kaloryczność produktów</a>
  <a routerLink='posilki'>Zdrowe posiłki</a>
  <a routerLink='kalkulator-bmi'>Sprawdż swoje BMI</a>
</div>
