<div #login>
  <div class="login-page">
    <div class="container">
      <div class="logo">
        <img class="logo__image" src="../assets/images/logo.svg">
      </div>
      <h1>Sign in</h1>
      <form [formGroup]="loginForm" (ngSubmit)="authorizeUser(loginForm)">
        <div class="form-group">
          <input class="form-input" type="text" placeholder="Login" formControlName="login">
          <span *ngIf="formErrors.login">{{ formErrors.login }}</span>
        </div>
        <div class="form-group">
          <input class="form-input" type="password" placeholder="Password" formControlName="password">
          <span *ngIf="loginForm.controls.password?.hasError('passwordStrength')">{{ loginForm.controls.password.errors?.passwordStrength }}</span>
        </div>
        <button class="btn btn--yellow" type="submit" [disabled]="loginForm.invalid">Sign in</button>
      </form>
      <div class="socials">
    

      <label>Hasło:</label>
      <input type="password" placeholder="hasło" formControlName="password">
      <span *ngIf="loginForm.controls.password?.hasError('passwordStrength')">{{ loginForm.controls.password.errors?.passwordStrength }}</span>
      <button type="submit" [disabled]="loginForm.invalid">Zaloguj się</button>
    </form>
    <div class="socials">
      <h3>Zaloguj przez socjale</h3>
        <button class="btn btn--google" (click)="loginWithGoogle()">Zaloguj z Google</button>
        <button class="btn btn--facebook" (click)="loginWithFacebook()">Zaloguj z Facebook</button>
        <button class="btn btn--yellow" (click)="navigateToRegisterAccount()">Zarejestruj się</button>
      </div>
    </div>
  </div>
</div>
