.logo {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  &__image {
    width: 150px;
    height: 150px;
  }
}

.notification-error {
  position: fixed;
  background-color: red;
  height: 75px;
  width: 100%;
  z-index: 250;
  top: 0;
  h1 {
    color:white;
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
  }
}
.login-page {
  background-color: #43731d;
  height: 100vh;
  padding: 0 20px;
}

.form-input {
  border-width: 0 0 1px 0;
  border-color: #fff;
  background: transparent;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  width: 100%;
  padding: 5px 10px;
  margin: 20px 0;
  &::placeholder {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
  }
}



.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
