<div>
  <h1>Komponent z logowaniem</h1>
  <form [formGroup]="loginForm" (ngSubmit)="authorizeUser(loginForm)">
      <label>Login: </label>
      <input type="text" placeholder="login" formControlName="login">
      <span *ngIf="formErrors.login">{{ formErrors.login }}</span>

      <label>Hasło:</label>
      <input type="password" placeholder="hasło" formControlName="password">
      <span *ngIf="loginForm.controls.password?.hasError('passwordStrength')">{{ loginForm.controls.password.errors?.passwordStrength }}</span>
      <button type="submit" [disabled]="loginForm.invalid">Zaloguj się</button>
      <button type="button" (click)="createNewUser()">Zarejestruj się</button>
  </form>
</div>
