<div class="container arrange-diet">
	<h1>Stwórz własną dietę</h1>
	<span class="subheader">Maksymalnie możesz dodać 5 posiłków</span>
	<input *ngIf='!isAddingMeal' class="standard-input" type="text" [(ngModel)]="userDiet.name" placeholder="Nazwa diety">
	<!-- <input class="standard-input" type="number" [(ngModel)]="userDiet.calories" placeholder="Liczba kalorii"> -->
	<div *ngIf="userMeals.length > 0">
    <h1>Twoje posiłki:</h1>
    <div *ngFor="let meal of userMeals">
			<div class="meal-item">
				<div class="meal-item__group">
					<p class="meal-item__header">Nazwa posiłku:</p>
					<p class="meal-item__text">{{meal.name}}</p>
				</div>
				<div class="meal-item__group">
					<p class="meal-item__header">Rodzaj posiłku:</p>
					<p class="meal-item__text">{{meal.type}}</p>
				</div>
				<div class="meal-item__group">
					<p class="meal-item__header">Liczba kalorii:</p>
					<p class="meal-item__text">{{meal.calories}}</p>
				</div>
				<div class="meal-item__group">
					<p class="meal-item__header">Składniki:</p><br>
					<ul>
						<li *ngFor="let ing of meal.ingredients">{{ing}}</li>
					</ul>
					<!-- <p class="meal-item__text">{{meal.carbo}}</p> -->
				</div>
				<div class="meal-item__group">
					<p class="meal-item__header">Sposób przygotowania:</p>
					<p class="meal-item__text">{{meal.recipe}}</p>
				</div>
			</div>
    </div>
  </div>
  <div *ngIf="isAddingMeal">
		<input class="standard-input" type="text" [(ngModel)]="addingMeal.name" placeholder="Nazwa posiłku">
		<input class="standard-input" type="text" [(ngModel)]="addingMeal.type" placeholder="Typ posiłku (np. śniadanie)">
  	<input class="standard-input" type="number" [(ngModel)]="addingMeal.calories" placeholder="Liczba kalorii">
    <input class="standard-input" type="text" [(ngModel)]="mealIngredients" placeholder="Składniki po przecinku">
    <input class="standard-input" type="text" [(ngModel)]="addingMeal.recipe" placeholder="Sposób przygotowania">
    <button class="btn btn--yellow" type="button" (click)="saveMeal()">Zapisz posiłek</button>
  </div>
  <button class="btn btn--yellow" (click)="addMeal()">Dodaj posiłek</button>
  <button class="btn btn--yellow" [disabled]="userMeals.length === 0" (click)="saveAllMeals()">Zapisz wszystkie posiłki</button>
</div>