.user-main-item {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-radius: 5px;
    margin: 5px 0;
    &__header {
        font-size: 1.6rem;
        font-weight: 600;
        color: #43731d;
    }
    &__text {
        font-size: 1.6rem;
        font-weight: 400;
        color: #43731d;   
    }
}

.main-comp {
    background-color: #43731d;
    padding: 30px 20px;
}