<div class="container">
	<div class="main-comp">
    <div *ngIf="!user.weight && !user.height">
        <h1>Uzupełnij swoje dane</h1>
        <p>Przejdź do komponentu dane użytkownika</p>
    </div>
    <div *ngIf="!!user.weight && !!user.height">
			<div class="user-main-item">
					<p class="user-main-item__header">Waga:</p>
					<p class="user-main-item__text">{{user.weight}} kg</p>    
			</div>
			<div class="user-main-item">
				<p class="user-main-item__header">Wzrost:</p>
				<p class="user-main-item__text">{{user.height}} cm</p>    
			</div>
			<div class="user-main-item">
				<p class="user-main-item__header">Twoje aktulne BMI:</p>
				<p class="user-main-item__text">{{user.BMI}}</p>    
			</div>
			<div class="user-main-item">
				<p class="user-main-item__header">Aktualnie cel:</p>
				<p class="user-main-item__text">{{user.currentDiet}}</p>    
			</div>
			<div class="user-main-item">
				<p class="user-main-item__header">Dzienny bilans kaloryczny:</p>
				<p class="user-main-item__text">{{user.demandKcal}}</p>    
			</div>
			<div class="user-main-item">
				<p class="user-main-item__header">Posiłki:</p>
				<p class="user-main-item__text">{{dailyAteKcal}}</p>    
			</div>
			<div class="user-main-item">
				<p class="user-main-item__header">Pozostało:</p>
				<p class="user-main-item__text">{{dailyRemainKcal}}</p>    
			</div>
		</div>
      <app-add-meal [isRegister]="true" (addedMeal)="addMealToDailyKcal($event)"></app-add-meal>
      <h1>Wprowadzone posiłki</h1>
        <div *ngFor="let meal of dailyMeals">
          <span>Nazwa: {{ meal.name}}</span>
          <span>Kcal: {{ meal.kcal}}</span>
          <span>Bialko: {{ meal.protein}}</span>
          <span>weglowodany: {{ meal.carbo}}</span>
          <span>Tluszcz: {{ meal.fat}}</span>
      </div>
	
	</div>
</div>

