<h1>Główny root (po zalogowaniu)</h1>
<br/>Tutaj powinno byc:
<br/>Główne informacje o uzytkowniku:
<br/>- jego waga,
<br/>- cele,
<br/>- aktualna dieta uzytkownika( jesli nie ma to jakis przycisk ułóż diete),
<br/>- zapotrzebowanie kaloryczne na dzien(ile juz zjadl kcal i ile mu zostało),
<br/>- wysuwajaca sie nawigacja z takimi własciwosciami(w kazdym roucie powinna byc):
<br/>    a) ułóż swoją diete,
<br/>    b) wybierz rekomendowana diete dla siebie
<br/>    c) sprawdz kaloryczność produktów
<br/>    d) fit posiłki
<br/>    e) oblicz BMI
<hr />

